<nav>
  <div id="logo">
    <img src="/assets/logo.png" width="180" height="90" />
  </div>
  <ul class="navigation-menu">
    <li ><a href="/"  (click)="openSpinner()">Accueil</a></li>
    <li><a href="/presentation"  (click)="openSpinner()">Présentation</a></li>
    <li><a>Ressources</a>
      <ul class="subnav" [class.active]="currentIndex === 2">
        <li class="subli"><a (click)="toggleSubNav(0)"(click)="openSpinner()">Humain</a></li>
        <li><a (click)="toggleSubNav(1)" (click)="openSpinner()">Matériels</a></li>
      </ul>
    </li>
    <li><a href="/services" (click)="openSpinner()">Services</a></li>
    <li><a href="/contact" (click)="openSpinner()">Contact</a></li>
  </ul>
  <div class="utility">
    <button class="log" (click)="toggleLoginCard()">
      <span>Rejoignez</span>
    </button>
    <div class="login-card" [ngClass]="{'show': isLoginCardVisible}">
      <button class="normal-signin" (click)="navigateToLogin()">Se connecter</button>
      <div class="instruction-text">Vous n'avez pas de compte?</div>
      <button class="create-account" (click)="navigateToSignup()" >Créer un compte</button>
    </div>
  </div>
</nav>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
