<app-navbar></app-navbar>
<div class="container">
  <div class="login-block">
    <div class="login-panel">
      <h3>Mot De Passe Oublié</h3>
    </div>
    <div class="sign-in">
      <form action="#" (ngSubmit)="onSubmit()"class="form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full">
          <label>
          <input [(ngModel)]="email" name="email" type="email" class="input" placeholder="" required>
          <span>Votre Email</span>
        </label>
        </div>
        <div class="sub">
        <button class="btn1" type="submit" id="submit">
          <span>submit</span>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
